body {
  background-image: url("../images/background2.jpg");
  background-size: cover;
}

p {
  font-size: 24px;
}

#main-region {
  background: #01A9FF;
  border-radius: 25px;
  border: solid black 2.0px;
  width: 80%;
}

#timer {
  background: rgba(42, 99, 206, 0.938);
  border-radius: 25px;
}

#quiz-box {
  position: relative;
  height: 650px;
}

.win-lose {
  height: 80%;
  width: 80%;
}


#win-lose {
  position: absolute;
  top: 40%;
  left: 35%;
  z-index: 10;
}

#results-btn, #intro-btn {
  color: white;
  background: rgba(45, 42, 206, 0.938);
  border-radius: 8px;
  border-color: grey;
}

.card-body {
  width: 400px;
  text-align: center;
}

#instructions {
  width: 80%;
  margin: auto;
}

#topic {
  font-size: 24px;
  /* background: rgba(42, 99, 206, 0.938); */
  padding: 5px 0px;
  border-radius: 8px;
}

#subject-title {
  font-size: 20px;
  margin: 0px;
  color: black;
  text-decoration: underline;
}

#dropdownMenu {
  background: rgba(45, 42, 206, 0.938);
  border-radius: 8px;
}